.wrapper.header {
  /* background: #ccc !important; */
}

.wrapper.header .columns {
  padding-bottom: 0 !important;
}

.header p {
  margin-bottom: 0 !important;
  padding-top: 6px !important;
}

.wrapper.header .header-container {
  /* background: #ccc !important; */
}
